<!-- How we do it Section -->
<div class="container-fluid" id="how-we-do-it-section">
  <!-- Part 1 -->
  <div class="section-1">
      <div class="container-fluid">
    <div id="howitsdone-banner"></div>
  </div>
  <div class="container-fluid" id="howitsdone-part1">
    <div class="row">
      <div class="col-md-12">
        <p class="display-2"><span class="text-red">EXPERIENCIAL</span> EVENTS
          AND PRODUCTION.
          STAND OUT
          IN THE <span class="text-red">CROWD</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <span class="lead">LAUD EXPERIENTIAL</span> creates unforgettable live event moments that help our partners
          stand apart from the rest.
          We
          create brand experiences including festival activations, custom concerts and hospitality events that harness
          the
          power of live entertainment to connect product with consumer on an intimate level.
        </p>

        <h2 class="lead">Promotions and production design</h2>

        <p>
          <span class="lead">Laud promotions</span> team is dedicated to creating tailor-made promotional platforms for
          brand partners that drive
          purchase
          behaviour, create brand awareness and loyalty and rewards existing and potential customers with live
          entertainment event
          experience they can’t get anywhere
        </p>
      </div>
    </div>
  </div>
  </div>
  <!-- End of Part 1 -->

  <!-- Part 2 -->
  <div class="section-2">
    <div class="container-fluid" id="howitsdone-part2">
    <div class="row">
      <div class="col-md-4">
        <p class="display-3">YOUR <span class="text-red" style="text-decoration: underline;">PRODUCT</span></p>
        <p class="display-3">TAKES</p>
        <p class="display-3">CENTER STAGE</p>
      </div>
      <div class="col-md-8">
        <h2>LIVE ENTERTAINMENT IS LAUD</h2>
        <p>
          Our media and sponsorship team harnesses the power of live to help your brand exposure resonate with fans. We
          develop
          custom creative ideas bringing them to life at our festivals and concerts. We handle every step of the process
          together
          with our clients to push boundaries of creativity and enhance fan experience while maximizing brand exposure
          and
          interaction with audiences.
        </p>
        <h2>Strategy and creative</h2>
        <p>
          Laud SPONSOR team does not believe in traditional sponsorship, we believe in strategic partnerships that solve
          real
          problems for our clients and forge meaningful, long term relationships with their consumer. We give brands a
          role in
          entertainment media culture and establish an authentic language to communicate with fans through impactful
          creative
          work.
        </p>
      </div>
    </div>
  </div> 
  </div>
  <!-- End of Part 2 -->

  <!-- Part 3 -->
  <div class="section-3">
     <div class="container" id="howitsdone-part3">
    <div class="row">
      <h2 class="display-3">LAUD EVENTS AND <span class="text-red">FESTIVALS</span></h2>
      <p>
        We are privileged and proud to have partnered with some of the biggest events and festivals on the African
        continent.
        Laud entertainment and Media Corporation’s team has designed and project managed mega African festivals and
        productions
        that take place annually around the African continent, we facilitate event production and design, project
        management,
        audio visual technical layout and design, artist and talent procurement and management. Travel arrangements
        and
        accommodation services, show management and government liaison all to meet our sponsors’ and client’s specific
        needs.
      </p>
    </div>
    <div class="row">
      <p class="lead">HERE ARE SOME OF OUR INTERNATIONAL FESTIVALS AND EVENTS:</p>
      <ul>
        <li>HARARE INTERNATIONAL CARNIVAL</li>
        <li>MISS WORLD ZIMBABWE</li>
        <li>MISS TOURISM ZIMBABWE</li>
        <li>GWANDA INTERNATIONAL GOSPEL MUSIC FESTIVAL</li>
        <li>JOHANNESBURG INTERNATIONAL MOTOR SHOW</li>
        <li>GHANA SPORTS AWARDS</li>
        <li>ALL AFRICA FILM FESTIVAL</li>
        <li>TOP MODEL SOUTH AFRICA</li>
        <li>BLACK BUSSINES QUATERLY (BBQ) AWARDS</li>
      </ul>
    </div>
    <div class="container">
      <carousel [autoplay]=autoplay>
        <div class="carousel-cell">
          <img src="../../assets/miss_zim.png">

        </div>
        <div class="carousel-cell">
          <img src="../../assets/miss_zim2.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/harare_internationa_carnival.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/miss_tourism_zim.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/gwanda_international_gospel.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Loud_Nation_For_Brand.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/topmodel.png">
        </div>
      </carousel>
    </div>
  </div>
  </div>
  <!-- End of Part 3 -->

  <!-- Part 4 -->
<div class="section-4">
   <div class="container" id="howitsdone-part4">
    <div class="row">
      <h2 class="display-3"><span class="text-red">AUDIO</span> VISUAL</h2>
      <p class="displa-4"> and </p>
      <h2 class="display-3"> TECHNICAL <span class="text-red">SERVICES</span></h2>
      <p>
        The mark of any great event in the live entertainment arena is the technical marvel and spectacle created by
        the
        combination of man and technology coming together to make magic. Laud technical productions team designs and
        oversees
        the technical set-up and operation of every live event and festival technical production requirements to suit
        every
        unique event. They conceptualize every lighting plot and cue, every visual and audio system design, LED
        screens, power
        generators, staging, set and structural design elements to form a seamless technical marvel that enhances
        audience
        experience.
      </p>
      <p>
        Our team of highly trained technicians, engineers and operators all put their best foot forward to create live
        magic.
      </p>
    </div>
    <div class="container">
      <carousel [autoplay]=autoplay [cellsToShow]=1 transitionTimingFunction='ease-in-out' [height]=500>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/stage1.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/stage2.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/stage3.png">
        </div>
      </carousel>
    </div>
  </div>
</div>
 
  <!-- End of Part 4 -->

  <!-- Part 5 -->
  <div class="section-5">
 <div class="container" style="margin-top: 100px;">
    <div class="row">
      <h2 class="display-3">
        LAUD <span class="text-red">STUDIOS</span>
      </h2>
      <p>
        <span class="lead">LAUD <span class="text-red">STUDIOS</span></span> boast high end audio recording and filming
        equipment and facilities for production and post
        production.
        This enables us to create content in-house for commercial television, radio and streaming platforms.
      </p>
      <p>
        These form part of our record label and television production division, under this umbrella we cultivate and
        groom
        talent and exploit market opportunities for clients and in-house talent.
      </p>
      <h2 class="display-3">
        <span class="text-red">Laud</span> Talent
      </h2>
      <p>
        We manage and represent various artists in television, music and multimedia and sports to help excel their
        careers and
        open doors that they would otherwise not be able to open themselves. This division also falls under our
        training and
        development program where we groom talent for current and future market penetration.
      </p>
    </div>
    <div class="row">
      <carousel [autoplay]=autoplay [cellsToShow]=1 transitionTimingFunction='ease-in-out' [height]=500 [borderRadius]=4>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/inst1.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/inst2.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/inst3.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/Instruments/inst4.png">
        </div>
      </carousel>
    </div>
  </div>
  </div>
 
  <!-- End of Part 5 -->
</div>
<!-- End of How we do it Section -->