<!-- Contact Us Section -->
<div class="container-fluid" id="contact-us-section">
    <div class="container-fluid">
      <div id="contact-us-banner"></div>
    </div>
    <div class="container" id="content">
      <div class="row">
        <div class="col-md-4">
            <p class="display-3">HOW</p>
            <p class="display-3">MAY WE</p>
            <p class="display-3">SERVE YOU</p>
            <p class="display-3">TODAY</p>
        </div>
        <div class="col-md-4">
          <h1 class="lead" style="font-weight: bold;">THAPELO MAMPANE</h1>
          <p class="lead">DIRECTOR</p>
          <p class="lead">CELL: +27 72 260 1923 / +27 73 460 0928</p>
          <p class="lead">EMAIL: THAPELO@LAUDMEDIACORP.COM</p>
        </div>
        <div class="col-md-4">
          <h1 class="lead" style="font-weight: bold;">ANDERSON MAMPANE</h1>
          <p class="lead">DIRECTOR</p>
          <p class="lead">CELL: +27 83 222 6359</p>
          <p class="lead">EMAIL: ANDERSON@LAUDMEDIACORP.COM</p>
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-md-12">
          <h2 class="mellow">INFO@LAUDMEDIACORP.COM</h2>
        </div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-md-12">
          <h2 class="mellow">INQUIRIES@LAUDMEDIACORP.COM</h2>
        </div>
      </div>
    </div>
    
    </div>
    
    <!-- End of Contact Us Section -->