<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- Client Section -->

<div class="container-fluid" id="clients-section">
    <div class="container-fluid">
    <div id="clients-banner"></div>
  </div>
  <div class="container">
    <div class="row">
          <p class="display-3" style="line-height: 100px;">
            MEET &nbsp;
          </p>
          <P class="display-3" style="line-height: 100px;">
            OUR GROWING LIST
          </P>
          <p class="display-3">
            OF SATISFIED &nbsp;
          </p>
          <p class="display-3">
            CLIENTS
          </p>
    </div>
    <div class="row">
      <carousel [autoplay]=autoplay>
        <div class="carousel-cell">
          <img src="../../assets/clients/bigtime_sg.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/carteblanche.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/cityoftshwane.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/food_network.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/gwanda_gospel.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/harare_int_carnival.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/home.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/miss_tourism_zim.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/newzroom_africa.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/ri.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/sabc.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/topmodel_sa.png">
        </div>
        <div class="carousel-cell">
          <img src="../../assets/clients/world_choir_games.png">
        </div>
      </carousel>
    </div>
  </div>
  </div>
  <!-- End of Client Section -->