@media only screen and (max-width: 600px){
    #profile-on-small-screen{
        display: block;
        
    }
    #services-on-small-screen{
        display: block;
    }
   
}

@media only screen and (min-width: 601px){
    #profile-on-small-screen{
        display: none;
    }
    #services-on-small-screen{
        display: none;
    }
    #how-we-do-it-on-small{
        display: none;
    }
    #clients{
        display: none;
    }
    #contact-us{
        display: none;
    }
}

 
