
/* #laud-text-large{
    font-size: 7.5vw;
}



#howitsdone-banner{
    background: url(../assets/howdone-banner.png);
    background-size: cover;
    height: 250px;
}

#clients-banner{
    background: url(../assets/client-banner.png);
    background-size: cover;
    height: 250px; 
}
#contact-us-banner
{
    background: url(../assets/contact-banner.png);
    background-size: cover;
    height: 250px; 
} */
