<!-- Services Section -->
<div class="container-fluid" id="services-section">
    <div class="container-fluid" id="laud-services-banner">
    <div id="laud-services-heading"></div>
  </div>
  <div class="container-fluid" id="services" style="padding-left: 250px;  margin-top: -28px;">
    <div class="row">
      <div class="col-md-4">
          <p class="display-3" style="line-height: 200px;">
            WE
          </p>
          <p class="display-3" style="line-height: 200px; color: red; text-decoration: underline;">
           LAUD
          </p>
          <p class="display-3" style="line-height: 200px;">
            CREATIVITY
          </p>
      </div>
      <div class="col-md-8">
  
        <p class="lead" style="font-weight: bold;">
          AS A FULL SERVICE PROVIDER TO THE MEDIA AND ENTERTAINMENT INDUSTRIES WE BOAST A WIDE RANGE OF SERVICES TO MEED
          THE NEEDS
          AND EXPECTATIONS OF OUR CLIENTELE AND ENTERTAINMENT LOVERS ALIKE
        </p>
  
        <ul>
          <li>Multimedia services</li>
          <li>Live event production and design</li>
          <li>Audio visual equipment supply and operation</li>
          <li>Video production services</li>
          <li>Audi recording and production</li>
          <li>Post production and editing facilities for video and audio</li>
          <li>Live video and audio streaming services</li>
          <li>Conferencing solutions</li>
          <li>Radio production</li>
          <li>Film and television services</li>
          <li>TV and radio Broadcasting services</li>
          <li>Brand promotion</li>
          <li>Strategic brand development</li>
          <li>Marketing services</li>
          <li>Sponsorship services</li>
          <li>Music publishing</li>
          <li>Content distribution</li>
          <li>Artist management</li>
          <li>Touring</li>
          <li>Training and development</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <!-- End of Services Section -->