<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<!-- Services Section -->
<div class="container-fluid" id="services-section">
  <div id="laud-services-heading"></div>

  <div class="container-fluid" id="services">
    <div class="row">
      <div class="col-md-4">
          <p class="display-3" id="firstline">
            WE
          </p>
          <p class="display-3" id="secondline">
           LAUD
          </p>
          <p class="display-3"  id="thirdline">
            CREATIVITY
          </p>
      </div>
      <div class="col-md-8" id="second-stanza">
        <div class="par">
          <p class="lead" style="font-weight: bold;">
            AS A FULL SERVICE PROVIDER TO THE MEDIA AND ENTERTAINMENT INDUSTRIES WE BOAST A WIDE RANGE OF SERVICES TO MEED
            THE NEEDS
            AND EXPECTATIONS OF OUR CLIENTELE AND ENTERTAINMENT LOVERS ALIKE
          </p>
        </div>
  
        <ul>
          <li>Multimedia services</li>
          <li>Live event production and design</li>
          <li>Audio visual equipment supply and operation</li>
          <li>Video production services</li>
          <li>Audi recording and production</li>
          <li>Post production and editing facilities for video and audio</li>
          <li>Live video and audio streaming services</li>
          <li>Conferencing solutions</li>
          <li>Radio production</li>
          <li>Film and television services</li>
          <li>TV and radio Broadcasting services</li>
          <li>Brand promotion</li>
          <li>Strategic brand development</li>
          <li>Marketing services</li>
          <li>Sponsorship services</li>
          <li>Music publishing</li>
          <li>Content distribution</li>
          <li class="light-on-small">Artist management</li>
          <li class="light-on-small">Touring</li>
          <li class="dark-on-small">Training and development</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <!-- End of Services Section -->