#heading-row{
    background: url(../../assets/profile-banner.png);
    background-size: cover;
    height: 250px;
}

.text-red{
    color: red;
    text-decoration: underline;
}
#profile{
    background-size: auto 50px;
    background: url(../../assets/faded_bg.jpg) no-repeat center bottom;
}

@media only screen and (max-width: 600px){
    #heading-row{
        background: url(../../assets/profile-banner.png) no-repeat top center;
        background-size: 100%;
        height: 100px;
    }
    #profile{
        background-size: auto 50px;
        background: url(../../assets/faded_bg.jpg) no-repeat center bottom;
    }
}