
    <div class="container-fluid" id="profile-container">
      <div class="row" id="heading-row"></div>
    </div>
    <div class="container-fluid" id="profile">
      <div class="row" id="laud-left-row">
        <div class="col-md-4" id="intro-text">
          <!-- <h6 id="laud-text-large">We are Laud Nation</h6> -->
          <p class="display-3" style="line-height: 100px;">
            WE
          </p>
          <P class="display-3" style="line-height: 100px;">
            ARE
          </P>
          <p class="display-3">
            <span class="text-red">LAUD</span> NATION
          </p>
        </div>
        <div class="col-md-8">
          <p>
            <span class="lead" style="font-weight: bold;">Laud entertainment and media corporation</span> is a full-service
            entertainment and media
            operations organization, supporting a diverse roster of talent and production content via artist management,
            music
            publishing, touring, production, live entertainment, strategic brand development and beyond. We are 100% black
            owned burgeoning entity forging to become a preeminent global entertainment and media force.
          </p>
          <p>
            <span class="lead">LAUD ENTERTAINMENT AND MEDIA CORPORATION</span> has formed strategic partnerships with leading industry
            experts in various media and entertainment disciplines dedicated to owning, producing and delivering content to
            mainstream audiences with targeted focus on the powerful demographic of diverse content consumers and fans.
            The company was forged together by a team of industry mavericks with over 45 years collective media and
            entertainment industry experience, who sought through the spirit of entrepreneurship to create an entity that
            would
            bridge the gap between live entertainment and modern and traditional media practices and tactics. Though the
            company may be relatively young by industry standards it lacks nothing when it comes to experience and the
            knowhow
            of industry operations as each of our directors have years of industry game time under their belt respectively
            and the
            battle scars to show for it.
          </p>
          <p>
            We are privileged to work with artists, designers and content producers across all disciplines to bring their
            creativity to life on various platforms around the country, continent and the world through technology and
            more. We have built a library of marquee media properties that have established us as a trusted brand
            which consistently delivers high-quality, commercial entertainment and marketing products and services.
          </p>
        </div>
      </div>
    
    </div>
